numpy
pandas 
streamlit 
plotly
openpyxl
streamlit-authenticator
streamlit_antd_components
deep_translator
google-cloud-bigquery
langchain
openai
tiktoken
faiss-cpu
firebase_admin
db-dtypes
sentence-transformers
docarray
st-gsheets-connection
pydantic==1.10.9