numpy
pandas 
streamlit 
torch 
transformers
plotly
openpyxl
streamlit-authenticator
streamlit_antd_components
deep_translator
google-cloud-bigquery
langchain
openai
pandasai
tiktoken
faiss-cpu
firebase_admin
db-dtypes